.menu {
  display: grid;
  grid-template-columns: 3fr 3fr 1fr;
  grid-gap: 10px;
  margin-top: 60px;
}

@media(max-width: 1130px) {
  .menu {
    grid-template-columns: 4fr 2fr;
    grid-gap: 16px;
    &>.product__item:last-child {
      display: none;
    }
  }
}

@media (max-width: 760px) {
  .menu {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(8, 1fr);
    grid-gap: 16px;
    &>.product__item {
      justify-self: center;
    }
  }
}