
.showcase__list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-left: 0px;
}
.showcase__list .buy-button-text {
  margin-top: 0px;
}

@media(max-width:$tablet-width){
  .showcase__item:last-child{
    display: none;
  }
}

@media (max-width:$phone-width){
  .showcase__item:first-child{
    display: none;
  }

  .showcase__item:last-child{
    display: block;
  }
}
